/* CSS styles for HTML5 skeleton  */

/* layout styles */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 40px !important;
  background-image: url('../images/game-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  width: 100%;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* layout styles */

/* Start header styles  */
header {
  width: 100%;
  background-color: #cccccc3d;
  color: #fff;
  padding: 10px 0px;
  text-align: center;
}
/* End header styles  */

/* Start footer styles  */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #cccccc3d;
  color: #fff;
  padding: 10px 0px;
}

footer .copyright {
  text-align: center;
}
/* End footer styles  */

/* Start CMS styles */
.wrapper {
  margin: 70px 0px;
}
/* End CMS styles*/

/* Start game styles */
.game span {
  margin: 10px;
  color: #fff;
  font-size: 17px;
}

.characters div {
  float: left;
  width: fit-content;
  background-color: #00000073;
  margin: 10px;
  cursor: pointer;
  position: relative;
}

.characters div:hover {
  background-color: #00000096;
}

.characters div span:nth-of-type(2),
.enemyDiv div span:nth-of-type(2) {
  position: absolute;
  top: 0%;
  right: 0%;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 10px;
}

.enemyDiv div {
  background-color: #00000073;
  margin: 10px;
  position: relative;
  cursor: pointer;
}

.battlefield {
  margin-top: 20px;
}

.characters img,
.battlefield img {
  height: 150px;
  width: 150px;
}

.clear-both {
  clear: both;
}

.vs {
  border: 1px solid #fff;
  border-radius: 25px;
  padding: 10px;
  height: 18px;
  text-align: center;
  width: 26px;
  margin: auto;
}

.btn button {
  display: block;
  border: none;
  padding: 1rem 2rem;
  margin: 15px auto;
  background: #0069ed;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.battlefield {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  justify-content: space-around;
}
/* End game styles */

/* Start Responsive Styles*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Responsive Styles*/
